[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
checkov = "==2.0.1230"
yamale = "==4.0.4"
yamllint = "==1.26.3"

[dev-packages]

[requires]
python_version = "3.10"
