use asdf
PATH_add "$(asdf env deno printenv DENO_INSTALL_ROOT)"/bin
export KUBECONFIG="$PWD"/.kubeconfig.yaml
# avoid bug of pack
# https://github.com/GoogleCloudPlatform/buildpacks/issues/135#issuecomment-839847373
export TMPDIR="$HOME"/.pack
