use asdf
PATH_add "$(asdf env deno printenv DENO_INSTALL_ROOT)"/bin
export KUBECONFIG="$PWD"/infra/kubeconfigs/development/config.yaml
export HELM_NAMESPACE=portfolio
# avoid bug of pack
# https://github.com/GoogleCloudPlatform/buildpacks/issues/135#issuecomment-839847373
export TMPDIR="$HOME"/.pack
export KUBEVAL_SCHEMA_LOCATION=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/8f0b46a

export AWS_VAULT_BACKEND=pass
export AWS_VAULT_PASS_CMD=gopass
export AWS_VAULT_PASS_PREFIX=aws-vault

use_aws_profile() {
  mapfile -t envs < <(
    aws-vault exec "$1" -- env |
      grep AWS_ |
      grep -v AWS_VAULT
  )
  export "${envs[@]}"
}

profile=n4vysh
aws-vault list --profiles |
  grep "$profile" >/dev/null &&
  use aws_profile "$profile"

CIVO_TOKEN="$(gopass show -o terraform/civo/token)"
export CIVO_TOKEN
export CIVO_API_KEY="$CIVO_TOKEN"
export ENV=development
