infra/charts/*/templates/*.yaml
infra/charts/*/templates/tests/*.yaml
infra/helmfile/helmfile.yaml
infra/helmfile/helmfiles/*.yaml
infra/helmfile/helmfiles/secrets/*.enc.yaml
infra/helmfile/helmfiles/environments/secrets/*/*.enc.yaml
