source_up

PATH_add bin/

if ! [[ -v AWS_ACCESS_KEY_ID && -v AWS_SECRET_ACCESS_KEY && -v AWS_SESSION_TOKEN ]] &&
  [[ $CI != true ]]; then
  export AWS_CONFIG_FILE="$PWD"/.aws/config
  export AWS_PROFILE=n4vysh/common

  export AWS_VAULT_BACKEND=pass
  export AWS_VAULT_PASS_CMD=gopass
  export AWS_VAULT_PASS_PREFIX=aws-vault
  export AWS_VAULT_PROMPT=ykman
fi
