---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ${name}
  namespace: ${namespace}
data:
  values.yaml: |
    serviceAccount:
      annotations:
        eks.amazonaws.com/role-arn: ${role_arn}
    config:
      storage_config:
        aws:
          s3: s3://${s3_bucket_region}/${s3_bucket_id}
