---
apiVersion: v1
kind: Secret
metadata:
  name: ${name}
  namespace: ${namespace}
data:
  values.yaml: ${
    base64encode(
      <<-EOF
        identityTrustAnchorsPEM: |
          ${indent(2, "${identity_trust_anchors_pem}")}
        identity:
          issuer:
            tls:
              crtPEM: |
                ${indent(8, "${identity_issuer_tls_crt_pem}")}
              keyPEM: |
                ${indent(8, "${identity_issuer_tls_key_pem}")}
      EOF
    )
  }
